bin/
obj/
Config/
plugin/
winner/
.vs/
*.user
.DS_Store
.DS_Store/
/Codes/TestResults
/Codes/Infrastructure/Winner/obj
/Codes/Infrastructure/Winner/bin
!/Codes/Infrastructure/Configuration/Config
!/Codes/Infrastructure/Winner
!/Codes/Infrastructure/Resource/js/winner
/Development/Websites
/Development/Hosts
/Production/task
/Development/nginx-1.15.1/logs/error.log
/Development/nginx-1.15.1/logs/nginx.pid
/Development/Task
/Production/websites
/Production/host
.vscode/
Codes/Phone/.angulardoc.json
/Codes/Presentation/Mms/Beeant.Presentation.Mms.Website.Home/style/*.map
/Codes/Presentation/Service/Beeant.Presentation.Service.Version/wwwroot
/Production/publish/Config/DataBase.config
*.DS_Store
**/testwww/
**/www/
Production/publishone.txt
Codes/Phone/src/assets/config.xml
/gitback
Codes/Phone/com.fengyiwo.beeant.android.json
Codes/Phone/src/assets/config.xml
Codes/Phone/src/assets/config.xml
/Htmls/河姆渡+京东
Codes/Phone/.ionide/symbolCache.db
/Development/nginx-1.21.3/logs/error.log
/Codes/_ReSharper.Caches
/Development/nginx-1.21.3/logs/nginx.pid

**/*/.vs
**/*/.vscode
**/*/.angular
**/*/*.tgz
